<script type="text/javascript">
    var imgCount = 5;
        var dir = '/img/';
        var randomCount = Math.round(Math.random() * (imgCount - 1)) + 1;
        var images = new Array
                images[1] = "01.jpg",
                images[2] = "02.jpg",
                images[3] = "03.jpg",
                images[4] = "04.jpg",
                images[5] = "05.jpg",
        document.getElementById("random").style.backgroundImage = "linear-gradient(#0c090d, rgba(12,9,13,0.8)), url(" + dir + images[randomCount] + ")";
   </script>
  <script>
    var colors = ["#1abc9c","#2ecc71","#3498db", "#9b59b6", "#f1c40f", "#e67e22", "#e74c3c"]
    var colorsSecondary = ["#16a085","#27ae60","#2980b9", "#8e44ad", "#f39c12", "#d35400", "#c0392b"]                
    var rand = Math.floor(Math.random()*colors.length);
    var rand2 = Math.floor(Math.random()*colors.length);
    var rand3 = Math.floor(Math.random()*colors.length);
    var rand4 = Math.floor(Math.random()*colors.length);
    var rand5 = Math.floor(Math.random()*colors.length);
    var rand6 = Math.floor(Math.random()*colors.length);
    var head = document.head,
    style = document.createElement('style');

    var css = '.content a { color: ' + colors[rand] + ';}';
        css += '.content a:hover { color: ' + colorsSecondary[rand] + ';}';
        css += '.post a { border-bottom: 3px solid ' + colors[rand] + ';}';
        css += '.post a:hover { border-bottom: 3px solid ' + colorsSecondary[rand] + ';}';
        css += '.sidebar a:hover { color: ' + colors[rand2] + '; } ';
        css += '.navigation a { border: 2px solid' + colors[rand] + '; } ';
        css += '.badge-category, a.badge-category { background-color: ' + colors[rand6] + '; } ';
        css += '.badge-category:hover, .badge-category:focus, a.badge-category:hover, a.badge-category:focus { color: ' + colors[rand6] + ' !important; background-color: transparent; } ';
        css += '.badge-tag, a.badge-tag { background-color: ' + colors[rand3] + '; } ';
        css += '.badge-tag:hover, .badge-tag:focus, a.badge-tag:hover, a.badge-tag:focus { color: ' + colors[rand3] + ' !important; background-color: transparent; } ';
        css += 'em { color: ' + colorsSecondary[rand4] + '; } ';
        css += 'strong { color: ' + colorsSecondary[rand5] + '; } ';

    style.type = 'text/css';
    if (style.styleSheet){
      style.styleSheet.cssText = css;
    } else {
      style.appendChild(document.createTextNode(css));
    }

    head.appendChild(style);
</script>