<!-- Sidebar -->
<div id="random" class="sidebar">
    <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
      <div class="sidebar-about">
        <span class="pretitle">The</span>
        <span class="site__title">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </span><br>
        <span class="pretitle">of</span> <span class="posttitle">B.R. Carmichael</span>
        {{ if and (isset .Site.Params "authorimage") (not (isset .Site.Params.social "gravatar")) }}
          {{ with .Site.Params.authorimage }}
          {{ $strippedSlash := ($.Site.Params.authorimage | replaceRE "^(/)+(.*)" "$2") }}
          {{ $authorImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
          <div class="author-image">
            <img src="{{$authorImage}}" alt="Author Image" class="img--circle img--headshot element--center">
          </div>
          {{ end }}
        {{ end }}
        {{ with .Site.Params.social.gravatar}}
          <div class="author-image">
            <img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" class="img--circle img--headshot element--center" alt="gravatar">
          </div>
        {{ end }}
        <p class="site__description">
          {{ with .Site.Params.description }} {{.}} {{end}}
        </p>
      </div>
      <div class="collapsible-menu">
        <input type="checkbox" id="menuToggle">
        <label for="menuToggle"><span class="labelpretitle">The</span> {{ .Site.Title }} <span class="labelpretitle">of</span> <span class="labelposttitle">B.R. Carmichael</span></label>
        <div class="menu-content">
          {{ partial "sidebar/menu.html" . }}
          {{ partial "sidebar/social.html" . }}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var imgCount = 5;
        var dir = '/img/';
        var randomCount = Math.round(Math.random() * (imgCount - 1)) + 1;
        var images = new Array
                images[1] = "01.jpg",
                images[2] = "02.jpg",
                images[3] = "03.jpg",
                images[4] = "04.jpg",
                images[5] = "05.jpg",
        document.getElementById("random").style.backgroundImage = "linear-gradient(#0c090d, rgba(12,9,13,0.8)), url(" + dir + images[randomCount] + ")";
   </script>
  <script>
    var colors = ["#1abc9c","#2ecc71","#3498db", "#9b59b6", "#f1c40f", "#e67e22", "#e74c3c"]               
    var rand = Math.floor(Math.random()*colors.length);
    var head = document.head,
    style = document.createElement('style');

    var css = '.sidebar a:hover { color: ' + colors[rand] + '; } ';

    style.type = 'text/css';
    if (style.styleSheet){
      style.styleSheet.cssText = css;
    } else {
      style.appendChild(document.createTextNode(css));
    }

    head.appendChild(style);
</script>
  